<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>指令章節作業 - 簡單版</title>
    <!-- Bootstarp 5 CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <style></style>
  </head>
  <body>
    <!-- 
      1. 試著拆解流程
        - 左邊的清單完成
        - 選擇品項
        - 訂單列表
        - 調整品項細節
      2. 先觀看解答
      3. 第二次製作，就完全不要看解答
    -->

    <!-- 
      1. 先準備左邊的品項呈現
      2. 準備暫存資料
      3. 暫存資料轉為訂單內容
      4. 計算總金額
      5. 客製化選項
    -->

    <div id="app">
      <div class="container py-5 gx-2">
        <h2>指令章節作業 - 簡單版</h2>
        <div class="row gx-3 bg-light py-3">
          <!-- 1. 先準備左邊的品項呈現 -->
          <!-- 2-2. 觸發點擊事件 -->
          <!-- 2-3. v-bind:class 樣式綁定 -->
          <!-- key 值是對應 className，物件的值則是判斷式 -->
          <div class="col-md-4">
            <div class="list-group">
              <a
                href="#"
                class="list-group-item list-group-item-action"
                v-for="item in products"
                :key="item.name"
                @click.prevent="selectProduct(item)"
                :class="{ 'active': itemSelected.name === item.name }"
              >
                <h6 class="card-title mb-1">{{ item.name }}</h6>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="mb-0"><small>{{ item.engName }}</small></p>
                  <p class="mb-0"><small>NT$ {{ item.price }}</small></p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-2">
              <!-- 2-4. 條件判斷 v-if -->
              <div
                v-if="!itemSelected.name"
                class="position-absolute text-white d-flex align-items-center justify-content-center active"
                style="
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  background-color: rgba(0, 0, 0, 0.65);
                  z-index: 100;
                "
              >
                請先選擇飲品
              </div>
              <!-- 5. 客製化選項 -->
              <!-- 5-1. 資料雙向綁定 v-model  -->
              <div class="card-body px-4">
                <div class="mb-3">
                  <label for="productNum" class="form-label">數量</label>
                  <input
                    type="number"
                    class="form-control"
                    id="productNum"
                    v-model="itemSelected.count"
                    placeholder="數量"
                    min="0"
                  />
                </div>
                <div class="mb-3">
                  <label for="productIce" class="form-label d-block"
                    >冰塊*</label
                  >
                  <div
                    class="form-check form-check-inline"
                    v-for="(ice, key) in iceType"
                    :key="'ice' + key"
                  >
                    <input
                      class="form-check-input"
                      name="iceType"
                      type="radio"
                      :id="'ice' + key"
                      :value="ice"
                      v-model="itemSelected.ice"
                    />
                    <label class="form-check-label" :for="'ice' + key"
                      >{{ ice }}</label
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productSugar" class="form-label d-block"
                    >甜度*</label
                  >
                  <div
                    class="form-check form-check-inline"
                    v-for="(sugar, key) in sugarType"
                    :key="'sugar' + key"
                  >
                    <input
                      class="form-check-input"
                      name="sugarType"
                      type="radio"
                      :id="'sugar' + key"
                      :value="sugar"
                      v-model="itemSelected.sugar"
                    />
                    <label class="form-check-label" :for="'sugar' + key"
                      >{{ sugar }}</label
                    >
                  </div>
                </div>
                <!-- 5-6. 製作加料是相對複雜的部份 -->
                <!-- 5-7. v-for -->
                <div class="mb-3">
                  <label for="productTopping" class="form-label d-block"
                    >加料</label
                  >
                  <div
                    class="form-check form-check-inline"
                    v-for="(topping, key) in toppingsType"
                    :key="'topping' + key"
                  >
                    <!-- 5-9. 把加料的值取出來 -->
                    <!-- 5-10. 資料雙向綁定 v-model -->
                    <input
                      class="form-check-input"
                      type="checkbox"
                      :id="'topping' + key"
                      :value="topping"
                      v-model="itemSelected.toppings"
                    />
                    <label class="form-check-label" :for="'topping' + key"
                      >{{ topping }}</label
                    >
                  </div>
                </div>
                <div class="mb-3">
                  <label for="productNotice" class="form-label">備註</label>
                  <textarea
                    class="form-control"
                    id="productNotice"
                    rows="2"
                    v-model="itemSelected.notice"
                  ></textarea>
                </div>
                <div class="d-flex gap-2">
                  <!-- 5-5. 觸發取消清空 -->
                  <button
                    class="btn btn-outline-primary w-100"
                    @click.prevent="resetOrder"
                    type="button"
                  >
                    取消
                  </button>
                  <!-- 3-2. 觸發加到購物車 -->
                  <button
                    class="btn btn-primary w-100"
                    @click.prevent="addToOrder(itemSelected)"
                    type="button"
                    :disabled="!itemSelected.name"
                  >
                    加入
                  </button>
                </div>
              </div>
            </div>
            <div class="card" v-if="orderList.length > 0">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">品項</th>
                      <th scope="col">冰塊</th>
                      <th scope="col">甜度</th>
                      <th scope="col">加料</th>
                      <th scope="col">單價</th>
                      <th scope="col">數量</th>
                      <th scope="col">小計</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- 3-4. 呈現在列表畫面上 -->
                    <!-- 5-11. 把加料呈現在列表畫面上，並轉成字串 -->
                    <!-- 5-13. 調整加上加料後的單價 -->
                    <tr v-for="(item, key) in orderList" :key="'order' + key">
                      <th scope="row">
                        {{ item.name }}<br />
                        <small
                          class="text-muted fw-normal"
                          v-if="item.notice !== ''"
                          >備註：{{ item.notice }}</small
                        >
                      </th>
                      <td>{{ item.ice }}</td>
                      <td>{{ item.sugar }}</td>
                      <td>{{ item.toppings.toString() }}</td>
                      <td>{{ item.price + item.toppings.length * 10 }}</td>
                      <td>{{ item.count }}</td>
                      <td class="text-end">{{ item.total }}</td>
                    </tr>
                  </tbody>
                </table>
                <p class="text-end">共 NT$ {{ orderTotal }} 元</p>
                <button
                  class="btn btn-sm btn-secondary w-100"
                  :disabled="orderList.length === 0"
                  @click="resetOrder"
                >
                  重新選擇
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Bootstrap 5 JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const app = {
        // 資料 (函式)
        data() {
          return {
            // 2. 準備暫存資料
            itemSelected: {},
            // 3-3. 購物車列表
            orderList: [],
            // 4-3. 訂單總價
            orderTotal: 0,
            iceType: ["正常冰", "少冰", "微冰", "去冰", "熱"],
            sugarType: ["全糖", "七分", "半糖", "三分", "無糖"],
            toppingsType: ["珍珠", "粉條", "小粉圓", "椰果", "芋頭"],
            products: [
              {
                name: "珍珠鮮奶茶",
                engName: "Pearl Milk Tea",
                price: 60,
              },
              {
                name: "鮮奶茶",
                engName: "Milk Tea",
                price: 50,
              },
              {
                name: "古意冬瓜茶",
                engName: "Winter Melon Drink",
                price: 30,
              },
              {
                name: "蜜香紅茶",
                engName: "Black Tea",
                price: 30,
              },
              {
                name: "包種青茶",
                engName: "Pouchong tea",
                price: 35,
              },
              {
                name: "檸檬烏龍",
                engName: "Lemon Oolong Tea",
                price: 55,
              },
              {
                name: "薑母茶",
                engName: "Ginger Tea",
                price: 55,
              },
              {
                name: "青草茶",
                engName: "Herbal Tea",
                price: 35,
              },
              {
                name: "金桔檸檬",
                engName: "Kumquat Lemonade",
                price: 40,
              },
              {
                name: "柳澄青茶",
                engName: "Orange Mountain Tea",
                price: 45,
              },
            ],
          };
        },
        // 生命週期 (函式)
        created() {
          console.log(this);
        },
        // 方法 (物件)
        methods: {
          // 2-1. 選擇品項
          selectProduct(product) {
            this.itemSelected = {
              // 透過解構方式避免影響到原始資料
              ...product,
              // 3-5. 加上預設值
              count: 1,
              // 5-8. 加入加料項目
              toppings: [],
              ice: "正常冰",
              sugar: "全糖",
              notice: "",
            };
          },
          // 3-1. 加到購物車
          addToOrder(product) {
            // 4. 計算總金額
            // 4-1. 重新整理訂單所需要的內容
            const order = {
              // 透過解構方式
              ...product,
              // 小計
              // 5-12. 加料
              total:
                (product.price + product.toppings.length * 10) * product.count,
            };
            // 4-2. product → order
            this.orderList.push(order);
            // 4-5. 計算當前的總價
            this.countTotal();
            // 5-4. 使用 resetOrder 方法加入後清空
            this.resetOrder();
          },
          // 4-4. 計算總價
          countTotal() {
            // 4-6. 每次計算先清空總價
            this.orderTotal = 0;
            this.orderList.forEach((item) => {
              this.orderTotal += item.total;
            });
          },
          // 5-3. 清空方法
          resetOrder() {
            // 5-2. 加入後清空
            this.itemSelected = {};
          },
        },
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
