<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML 屬性綁定 v-bind</title>
    <!-- Bootstarp 5 CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <style>
      .square-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container py-5">
        <h2>HTML 屬性綁定 v-bind</h2>
        <h3>綁定屬性 v-bind</h3>
        <p>{{ breakfastShop.name }}</p>
        <!-- v-bind 是指令，冒號後方是 html 的屬性名稱 -->
        <img
          v-bind:src="breakfastShop.imgUrl"
          class="square-img"
          v-bind:title="breakfastShop.name"
          alt=""
        />

        <h3>縮寫形式 <code>:</code></h3>
        <img
          :src="breakfastShop.imgUrl"
          class="square-img"
          :title="breakfastShop.name"
          alt=""
        />

        <hr />
        <h3>更多屬性綁定</h3>
        小明還想點餐:
        <form action="">
          <input type="text" value="我要吃蘿蔔糕" />
          <button type="submit" :disabled="isFull">送出</button>
        </form>

        <button type="button" v-on:click="change('isFull')">狀態切換</button>

        <hr />
        <h3>搭配 v-for</h3>
        <table class="table">
          <tbody>
            <tr v-for="item in products" :key="item.imgUrl">
              <td>
                <img :src="item.imgUrl" class="square-img" alt="" />
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}元</td>
              <td>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    :id="item.name"
                  />
                  <label class="form-check-label" :for="item.name">
                    我要這個
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <hr />
        <h3>表達式運用 (串接)</h3>
        <p>{{ imageSize }}</p>
        <input type="range" min="100" max="1000" v-model="imageSize" />
        <br />
        <!-- {{ imageSize }} -->
        <img
          :src="`${breakfastShop.resizeImg}&w=${imageSize}`"
          class="d-block"
          alt=""
        />
        <br />
        {{ `${breakfastShop.resizeImg}&w=${imageSize}` }}

        <hr />
        <h3>動態屬性綁定(注意大小寫)</h3>
        <!-- 宣告 dynamic 變數 -->
        <!-- dynamic 變數是 disabled 就會切換成 readonly -->
        <!-- dynamic 變數不是 disabled 會切換成 disabled -->
        <!-- 三元運算子 -->
        <button
          type="button"
          v-on:click="dynamic = dynamic === 'disabled' ? 'readonly' : 'disabled'"
        >
          切換為 {{ dynamic }}
        </button>
        <br />
        <!-- 動態切換屬性 -->
        <!-- 屬性加上一個動態的值 -->
        <!-- :[]="" -->
        {{ dynamic }}
        <input type="text" :[dynamic]="dynamic" :value="name" />

        <!-- 如何為一個 HTML 屬性動態綁定不同的值 -->
        <!-- 
          1. 先看三元運算子的部分
          dynamic === 'disabled' ? 'readonly' : 'disabled'
          由於 data 屬性內 dynamic 的值為 'disabled'，
          dynamic === 'disabled' 得到 true，
          當條件式的結果為 true，會得到 'readonly';
          當條件式的結果為 false，會得到 'disabled'。
        -->
        <!-- 
          2. 再看 dynamic 被賦予的值
          v-on:click="dynamic" = 條件式的結果"
          經過條件式所得到的結果為 'readonly'，
          當使用者第一次點擊按鈕時，
          data 屬性內 dynamic 的值就會被賦予 'readonly'。
          當使用這第二次點擊按鈕時，
          經過步驟一的流程，
          data 屬性內 dynamic 的值就會被賦予 'disabled'。
        -->
        <!-- 
          3. 最後 HTML 屬性動態綁定不同的值
          <input type="text" :[dynamic] :value="name">
          透過 v-bind 動態綁定來進行切換。
        -->

        <hr />
        <h3>預告: 元件的資料傳遞亦是使用 v-bind</h3>
        <ul>
          <list-item
            :item="item"
            v-for="(item, key) in products"
            :key="item.name + 2"
          ></list-item>
        </ul>
      </div>
    </div>

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Bootstrap 5 JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const app = {
        // 資料 (函式)
        data() {
          return {
            name: "小明",
            isFull: false,
            link: "小明",
            imageSize: 200,
            dynamic: "disabled",
            breakfastShop: {
              name: "奇蹟早餐",
              imgUrl:
                "https://images.unsplash.com/photo-1600182610361-4b4d664e07b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&q=80",
              resizeImg:
                "https://images.unsplash.com/photo-1600182610361-4b4d664e07b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&q=80",
            },
            products: [
              {
                name: "蛋餅",
                price: 30,
                vegan: false,
                imgUrl:
                  "https://images.unsplash.com/photo-1607278967323-8766a3a501e6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&q=80",
              },
              {
                name: "飯糰",
                price: 35,
                vegan: false,
                imgUrl:
                  "https://images.unsplash.com/photo-1603245460565-5a7b42a6a6f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&q=80",
              },
              {
                name: "小籠包",
                price: 60,
                vegan: false,
                imgUrl:
                  "https://images.unsplash.com/photo-1595424265370-3e02d3e6c10c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&q=80",
              },
            ],
            productsObj: {
              chineseOmelette: {
                name: "蛋餅",
                price: 30,
                vegan: false,
              },
              riceBall: {
                name: "飯糰",
                price: 35,
                vegan: false,
              },
              soupDumpling: {
                name: "小籠包",
                price: 60,
                vegan: false,
              },
              radishCake: {
                name: "蘿蔔糕",
                price: 30,
                vegan: true,
              },
            },
          };
        },
        // 生命週期 (函式)
        created() {
          console.log(this);
        },
        // 方法 (物件)
        methods: {
          change: function (key) {
            this[key] = !this[key];
          },
        },
      };

      Vue.createApp(app)
        .component("list-item", {
          template: `
          <li>
            {{ item.name }} / {{ item.price }} 元
          </li>
        `,
          props: ["item"],
        })
        .mount("#app");
    </script>
  </body>
</html>
