<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>指令觀念介紹</title>
    <!-- Bootstarp 5 CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <style></style>
  </head>
  <body>
    <div id="app">
      <div class="container py-5">
        <h2>指令觀念介紹</h2>
        <h3>字串 v-text 與 <code v-pre>{{ }}</code> (Mustache)</h3>
        <p>{{ name }}在{{ position }}吃早餐</p>
        <p>
          <strong v-text="name"></strong>在<span v-text="position"></span>吃早餐
        </p>
        <input type="text" v-model="name" />

        <hr />
        <h3>原始字串 v-html</h3>
        {{ rawHtml }}
        <div v-html="rawHtml"></div>
        <p>
          <a href="https://v3.cn.vuejs.org/api/directives.html#v-html"
            >注意事項</a
          >
        </p>

        <hr />
        <h3>單次綁定 v-once</h3>
        <p v-once>{{ name }}在{{ position }}吃早餐</p>
        <input type="text" v-model="name" />

        <hr />
        <h3>進階技巧:表達式</h3>
        <p>樣板字面值: {{ `${name}在${position}吃早餐` }}</p>
        <p>反轉字串: {{ text.split('').reverse().join('') }}</p>
        <p>綁定 methods: {{ say('杰倫') }}</p>
        <p>JS 運算: {{ 1 + 1 }}</p>

        <hr />
        <h3>進階技巧:顯示資料狀態</h3>
        <p>顯示目前的陣列內容 {{ products }}</p>

        <hr />
        <h3>顯示 <span v-pre>{{ }}</span></h3>
        <p v-pre>這段文字不會被轉譯:{{ name }}在{{ position }}吃早餐</p>
      </div>
    </div>

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Bootstrap 5 JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      const app = {
        name: "Hexschool Component",
        // 資料 (函式)
        data() {
          return {
            name: "小明",
            position: "早餐店",
            text: "小明在早餐店吃早餐",
            rawHtml: "<p>小明在早餐店吃早餐</p>",
            products: [
              {
                name: "蛋餅",
                price: 30,
                vegan: false,
              },
              {
                name: "飯糰",
                price: 35,
                vegan: false,
              },
              {
                name: "小籠包",
                price: 60,
                vegan: false,
              },
              {
                name: "蘿蔔糕",
                price: 30,
                vegan: true,
              },
            ],
            selected: [
              {
                name: "蛋餅",
                price: 30,
                vegan: false,
              },
              {
                name: "飯糰",
                price: 35,
                vegan: false,
              },
            ],
          };
        },
        // 方法 (物件)
        methods: {
          say(name) {
            return `${name}在${this.position}吃早餐`;
          },
        },
        computed: {
          total() {
            const total = this.selected.reduce((curr, next) => {
              return curr + next.price;
            }, 0);
            console.log(total);
            return total;
          },
        },
        // 生命週期 (函式)
        created() {
          console.log(this);
        },
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
