<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emit 向外層傳遞事件</title>
    <!-- Bootstarp 5 CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <style></style>
  </head>
  <body>
    <div id="app">
      <div class="container py-5">
        <h2>Emit 向外層傳遞事件</h2>
        <h3>Emit 觸發外部事件</h3>
        <ul>
          <li>先定義外層接收的方法</li>
          <li>定義內層的 $emit 觸發方法</li>
          <li>使用 v-on 的方式觸發外層方法 (口訣: 前內、後外)</li>
        </ul>
        {{ num }}
        <!-- 使用 v-on 的方式觸發外層方法 (口訣:前內、後外) -->
        <button-counter v-on:emit-num="addNum"></button-counter>

        <h3>傳遞資料狀態</h3>
        內部傳來的文字:{{ text }}<br />
        <!-- 使用 v-on 的方式觸發外層方法 (口訣:前內、後外) -->
        <button-text @emit-text="getData"></button-text>

        <h3>命名注意</h3>
        <p>駝峰的大寫文字，可以改為 `-` 進行串接</p>
        內部傳來的文字: {{ text }}<br />
        <button-named @emit-text="getData"></button-named>
      </div>
    </div>

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Bootstrap 5 JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      // 外層元件 - 根元件
      const app = Vue.createApp({
        data() {
          return {
            num: 0,
            text: "",
          };
        },
        methods: {
          // 先定義外層接收的方法
          addNum() {
            // 使用 console 確認是否有觸發
            console.log("addNum");
            this.num++;
          },
          // 先定義外層接收的方法
          getData(text) {
            // 使用 console 確認是否有觸發
            console.log("getData");
            this.text = text;
          },
        },
      });

      // 內層元件
      app.component("button-counter", {
        methods: {
          // 定義內層的 $emit 觸發方法
          click() {
            // 使用 console 確認是否有觸發
            console.log("click");
            this.$emit("emit-num");
          },
        },
        template: `<button type="button" @click="click">add</button>`,
      });

      // 內層元件
      app.component("button-text", {
        data() {
          return {
            text: "內部資料",
          };
        },
        methods: {
          // 定義內層的 $emit 觸發方法
          emit() {
            // 使用 console 確認是否有觸發
            console.log("emit");
            this.$emit("emit-text", this.text);
          },
        },
        template: `<button type="button" @click="emit">emit data</button>`,
      });

      // 內層元件
      app.component("button-named", {
        methods: {
          emit() {
            console.log("emit");
            // 小駝峰命名
            this.$emit("emitText", "內部文字");
          },
        },
        template: `<button type="button" @click="emit">emit data</button>`,
      });

      app.mount("#app");
    </script>
  </body>
</html>
