<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>註冊元件的手法</title>
    <!-- Bootstarp 5 CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <style></style>
  </head>
  <body>
    <div id="app">
      <div class="container py-5">
        <h2>註冊元件的手法</h2>
        <h3>元件基本範例及結構</h3>
        <p>元件使用的基本要點</p>
        <ul>
          <li>元件需要在 createApp 後，mount 前進行定義</li>
          <li>元件需指定一個名稱</li>
          <li>元件結構與最外層的根元件結構無異 (除了增加 Template 的片段)</li>
          <li>元件另有 prop, emits 等資料傳遞及事件傳遞</li>
        </ul>
        <alert></alert>

        <h3>不同元件的註冊方式</h3>

        <h4>全域註冊</h4>
        <p>
          此 createApp 下，任何子元件都可運用，在中小型專案，一般頁面開發很方便
        </p>
        <alert2></alert2>

        <h4>區域註冊</h4>
        <p>限制在特定元件下才可使用，在 Vue Cli 中很常使用此方法 (便於管理)</p>
        <alert3></alert3>
        <alert5></alert5>

        <h4>模組化</h4>
        <p>同屬於區域註冊，Vue Cli 中的實戰運用技巧</p>
        <alert4></alert4>
      </div>
    </div>

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Bootstrap 5 JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module">
      // 注意，這段起手式與先前不同

      // 匯入外部元件
      import alert4 from "./component-alert.js";

      // 區域註冊
      const alert3 = {
        data() {
          return {
            text: "元件3 - 區域註冊",
          };
        },
        template: `
          <div class="alert alert-primary" role="alert">
            {{ text }}
          </div>
        `,
      };

      // 區域註冊補充
      const alert6 = {
        data() {
          return {
            text: "元件6 - 區域註冊補充",
          };
        },
        template: `
          <div class="alert alert-primary" role="alert">
            {{ text }}
          </div>
        `,
      };

      const app = Vue.createApp({
        data() {
          return {
            text: "外部元件文字",
          };
        },
        // 區域註冊
        components: {
          alert3,
          // 區域註冊 - 外部元件
          alert4,
        },
      })
        // 全域註冊
        .component("alert", {
          data() {
            return {
              text: "內部文字 元件1 - 全域註冊",
            };
          },
          template: `
          <div class="alert alert-primary" role="alert">
            {{ text }}
          </div>
        `,
        });

      // 全域註冊不同的寫法
      app.component("alert2", {
        data() {
          return {
            text: "元件 2 - 全域註冊",
          };
        },
        template: `
          <div class="alert alert-primary" role="alert">
            {{ text }}
          </div>
        `,
      });

      app.component("alert5", {
        data() {
          return {
            text: "元件 5 - 全域註冊",
          };
        },
        // 區域註冊補充
        components: {
          alert6,
        },
        template: `
          <div class="alert alert-primary" role="alert">
            {{ text }}
            <alert6></alert6>
          </div>
        `,
      });

      app.mount("#app");
    </script>
  </body>
</html>
