<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>元件型別驗證</title>
    <!-- Bootstarp 5 CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <style></style>
  </head>
  <body>
    <div id="app">
      <div class="container py-5">
        <h2>元件型別驗證</h2>
        <h3>Props 型別技巧</h3>
        <input type="number" v-model="money" />

        <props-type :money="{}"></props-type>
        <props-type :money="boo"></props-type>

        <h3>定義 Props 型別驗證</h3>
        <p>實戰中不太會用到全部技巧，常用的有:</p>
        <ul>
          <li>型別驗證</li>
          <li>預設值、是否必填</li>
        </ul>
        <props-validation
          :prop-a="fun"
          prop-c="required"
          :prop-f="10000"
        ></props-validation>
      </div>
    </div>

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Bootstrap 5 JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module">
      const app = Vue.createApp({
        data() {
          return {
            money: 300,
            big: 100n,
            boo: true,
            fun: () => {
              return "a";
            },
          };
        },
      });

      app.component("props-type", {
        props: ["money"],
        template: `<div>value: {{ money }}, typeof: {{ typeof money }}</div>`,
      });

      app.component("props-validation", {
        props: {
          // 單一型別檢查，可接受的型別 String, Number, Object, Boolean, Function(在 Vue 中可使用 Function 驗證型別)
          // null, undefined 會直接通過驗證
          propA: Function,

          // 多個型別驗證
          propB: [String, Number],

          // 必要值
          propC: {
            type: String,
            required: true,
          },

          // 預設值
          propD: {
            type: Number,
            default: 300,
          },

          // 自訂函式
          propE: {
            type: Object,
            default() {
              return {
                money: 300,
              };
            },
          },

          // 自訂驗證
          propF: {
            validator(value) {
              return value > 1000;
            },
          },
        },
        template: `{{ propA }}, {{ propC }}, {{ propD }} <br> {{ propE }}, {{ propF }}`,
      });

      app.mount("#app");
    </script>
  </body>
</html>
