<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>表單驗證套件 vee-validation</title>
    <!-- Bootstarp 5 CSS CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <style></style>
  </head>
  <body>
    <div id="app">
      <div class="container py-5">
        <h2>表單驗證套件 vee-validation</h2>
        <h2>套用一個現成的流程</h2>
        <p>
          參考文件：<a href="https://hackmd.io/FFv0a5cBToOATP7uI5COMQ"
            >https://hackmd.io/FFv0a5cBToOATP7uI5COMQ</a
          >
        </p>

        <h3>範例：載入 VeeValidate 驗證套件</h3>
        <!-- 5. 套用 v-form 並加入 v-slot -->
        <v-form @submit="onSubmit" v-slot="{ errors }">
          {{ errors }}
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <!-- 6. 套用 v-field 及 error-message -->
            <!-- 6-2. 規則加入 rules 是對應到先前所載入的規則 -->
            <!-- 6-3. 加上 input 樣式，使用 :class 方式 -->
            <!-- 8-1. 可以直接補上 v-model 對應 user.email 進行驗證 -->
            <v-field
              id="email"
              name="email"
              type="email"
              class="form-control"
              rules="email|required"
              v-model="user.email"
              placeholder="請輸入 Email"
              :class="{ 'is-invalid': errors['email'] }"
            ></v-field>
            <!-- 6-1. error-message 必須對應到 v-field 的 name 欄位 -->
            <error-message
              name="email"
              class="invalid-feedback"
            ></error-message>
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">姓名</label>
            <v-field
              id="name"
              name="姓名"
              type="text"
              class="form-control"
              rules="required"
              v-model="user.name"
              placeholder="請輸入姓名"
              :class="{ 'is-invalid': errors['姓名']}"
            ></v-field>
            <error-message name="姓名" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">電話</label>
            <!-- 7. 加入自訂驗證、送出表單等行為… -->
            <!-- 7-1. input 改成 v-field -->
            <!-- 7-2 規則加上 rules，這裡使用的是 :rules="isPhone" -->
            <!-- 綁定的是下方的方法 isPhone(value) -->
            <v-field
              id="phone"
              name="電話"
              type="text"
              class="form-control"
              :rules="isPhone"
              v-model="user.phone"
              placeholder="請輸入電話"
              :class="{ 'is-invalid': errors['電話']}"
            ></v-field>
            <error-message name="電話" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="region" class="form-label">地區</label>
            <v-field
              id="region"
              name="地區"
              class="form-control"
              :class="{ 'is-invalid': errors['地區']}"
              placeholder="請輸入地區"
              rules="required"
              v-model="user.region"
              as="select"
            >
              <option value="">請選擇地區</option>
              <option value="台北市">台北市</option>
              <option value="高雄市">高雄市</option>
            </v-field>
            <error-message name="地區" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">地址</label>
            <v-field
              id="address"
              name="地址"
              type="text"
              class="form-control"
              rules="required"
              v-model="user.address"
              placeholder="請輸入地址"
              :class="{ 'is-invalid': errors['地址']}"
            ></v-field>
            <error-message name="地址" class="invalid-feedback"></error-message>
          </div>

          <button class="btn btn-primary" type="submit">送出</button>
        </v-form>
      </div>
    </div>

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Bootstrap 5 JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 1. 加入 VeeValidation 相關資源 -->
    <!-- 主套件 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.1.17/vee-validate.min.js"></script>
    <!-- i18n -->
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.1.17/dist/vee-validate-i18n.min.js"></script>
    <!-- rules -->
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.1.17/dist/vee-validate-rules.min.js"></script>
    <script type="module">
      // 3. 定義規則
      // 選擇加入特定規則，全規則可參考
      // 參考: https://vee-validate.logaretm.com/v4/guide/global-validators#vee-validaterules
      VeeValidate.defineRule("email", VeeValidateRules["email"]);
      VeeValidate.defineRule("required", VeeValidateRules["required"]);

      // 4. 加入多國語系
      // 將外部資源儲存至本地
      // 外部資源: https://github.com/logaretm/vee-validate/blob/vee-validate%404.1.16/packages/i18n/src/locale/zh_TW.json
      // 讀取外部的資源
      VeeValidateI18n.loadLocaleFromURL("./zh_TW.json");

      // Activate the locale
      VeeValidate.configure({
        generateMessage: VeeValidateI18n.localize("zh_TW"), // 切換成中文版
        validateOnInput: true, // 調整為：輸入文字時，就立即進行驗證
      });

      const app = Vue.createApp({
        // 資料 (函式)
        data() {
          return {
            // 8. 有加上資料欄位
            user: {
              email: "",
              name: "",
              address: "",
              phone: "",
              region: "",
            },
          };
        },
        // 生命週期 (函式)
        created() {
          console.log(this);
        },
        // 方法 (物件)
        methods: {
          onSubmit() {
            console.log(this.user);
          },
          isPhone(value) {
            const phoneNumber = /^(09)[0-9]{8}$/;
            return phoneNumber.test(value) ? true : "需要正確的電話號碼";
          },
        },
      });

      // 2. 註冊元件
      // 註冊全域的表單驗證元件（VForm, VField, ErrorMessage）
      app.component("VForm", VeeValidate.Form);
      app.component("VField", VeeValidate.Field);
      app.component("ErrorMessage", VeeValidate.ErrorMessage);

      app.mount("#app");
    </script>
  </body>
</html>
